# Modelos entrenados
*.pkl

# Datos
*.csv

# Variables de entorno
.env

# Caché de Python
__pycache__/
*.py[cod]

# Entornos virtuales
venv/
.venv/

# Configuración de IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db
